[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ffaframework"]
	path = ffaframework
	url = https://github.com/rileywheadon/ffa-framework
